body {
    margin: 2em 20em;
    background-color: yellow;
}

p {
    font-family: "Roboto";
    margin: 2em 0;
}

h1 {
    font-family: "Roboto";
    margin: 3em 0 0;
    font-size: 50px;
}

h3 {
    font-family: "Roboto";
}

.trill-logo {
    width: 20%;
    display: block;
    margin: 17em auto 2em;
}

.intro-p {
    width: 40%;
margin: auto;
text-align: center;
}

.appstore {
    width: 20%;
    display: block;
    margin: 3em auto;
}

.intro {
    margin-bottom: 15em;
}

.aims {
margin: 15em 0 0 0;
}

.aims-text {
display: block;
margin: auto;
margin: auto auto 20em ;
}

.slice1 {
    width: 40%;
    float: left;
    margin: 0 9em 0em 0;
}



.subscribe {
width: 30%;
}

.me {
width: 40%;
float: left;
margin: 5em 9em 10em 0 ;
}

.creator {
    display: block;
    margin: auto;
}

.books-trill {
width: 100%;
margin: 5em 0;
}

.features {
width: 70%;
}

.slice2 {
    width: 40%;
    float: left;
    margin: 0 9em 5em 0;
}

.footer-subscribe {
width: 50%;
display: block;
margin: auto;
}